<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(45deg, rgba(29, 233, 182, 1) 33%, rgba(0, 212, 255, 1) 85%);
            padding-left: 1rem;
            padding-right: 1rem;
        }

        h1, h2, h3, h4, p {
            color: #424242;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Salutare!</h1>
    <h2>Suntem încântați să vă avem alături!</h2>
    <p>La WeCreate, pasiunea noastră este să construim site-uri web creative și captivante. Vă așteaptă o experiență plină de inovație și angajament în colaborarea noastră.</p>
    <h4>Vă mulțumim pentru încrederea acordată și suntem nerăbdători să începem această călătorie digitală împreună!</h4>
</body>
</html>
